<h1>Contacts</h1>

<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.Id %></td>
      <td><%= contact.Name %></td>
    </tr>
  <% end %>
</table>
